<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxyinternet.dao.PermissionDAO">
	<resultMap id="BaseResultMap" type="com.galaxyinternet.model.Permission">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="resource_id" property="resourceId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_id, resource_id
	</sql>
	<sql id="Base_Where_List">
		<where>
			<if test="roleId != null ">
				role_id = #{roleId}
			</if>
			<if test="roleIds != null">
				and role_id in
				<foreach collection="roleIds" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="resourceId != null">
				and resource_id = #{resourceId}
			</if>
		</where>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_permission
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="select" resultMap="BaseResultMap" parameterType="Permission">
		select
		<include refid="Base_Column_List" />
		from t_permission
		<include refid="Base_Where_List" />
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_permission
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="delete" parameterType="Permission">
		delete from t_permission
		<include refid="Base_Where_List" />
	</delete>
	<insert id="insert" parameterType="com.galaxyinternet.model.Permission" useGeneratedKeys="true" keyProperty="id">
		insert into t_permission (role_id, resource_id)
		values (#{roleId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.galaxyinternet.model.Permission" useGeneratedKeys="true" keyProperty="id">
		insert into t_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="resourceId != null">
				resource_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
			<if test="resourceId != null">
				#{resourceId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.galaxyinternet.model.Permission">
		update t_permission
		<set>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="resourceId != null">
				resource_id = #{resourceId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.galaxyinternet.model.Permission">
		update t_permission
		set role_id = #{roleId,jdbcType=BIGINT},
		resource_id = #{resourceId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>